@model int

<a asp-controller="Cart"
   asp-action="Index"
   class="topbar-link position-relative">

    <i class="fs-xxl" data-lucide="shopping-cart"></i>

    @if (Model > 0)
    {
        <span class="badge text-bg-danger badge-circle topbar-badge">
            @Model
        </span>
    }
</a> 
