<meta charset="utf-8"/>
@{
    var title = ViewBag.Title != null
        ? ViewBag.Title
        : "Ntigra";
}

<title>@title</title>
<meta content="width=device-width, initial-scale=1" name="viewport"/> 
<!-- App favicon -->
<link href="~/images/favicon.ico" rel="shortcut icon"/>